# ----------------------------
# Virtual Environments
# ----------------------------
venv/
.venv/
backend/.venv/

# ----------------------------
# Python Cache & Bytecode
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Operating System Files
# ----------------------------
.DS_Store
Thumbs.db